/* 
	2020.12.30
	mixin
*/

@mixin size($w,$h:$w){
	width: $w;
	height: $h;
};

@mixin df_center($dir:column){
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $dir;
	flex-wrap: wrap;
};

@mixin bgimg($url){
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}





/*------------------------------------*\
 $RESPONSIVE
\*------------------------------------*/
@mixin rwd($w){
	@media(max-width:$w)    {
		@content
		}
};






/*------------------------------------*\
 $TRANSITION
\*------------------------------------*/
@mixin transition-slow($ease:$easeInOutCirc){
	transition: all 2s $ease;
}

@mixin transition-middle($ease:$easeInOutCirc){
	transition: all 0.4s $ease;
}

@mixin transition-fast($ease:$easeInOutCirc){
	transition: all 0.2s $ease;
}


